* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(211, 207, 207);
    color: rgb(17, 12, 12);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 60%;
    margin: auto;
    background-color: white;
}

.banner img {
    max-width: 100%;
}

.heading {
    text-align: center;
    margin: 10px;
    padding: 15px;
}

h1, h2 {
    text-align: center;
}
.navigation {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    gap: 15px;
    justify-content: center;
}

.navigation a {
    display: block;
    padding: 10px;
    margin: 15px;
    background-color: #4B6C8B;
    border-radius: 20px;
    width: 200px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.navigation a:hover {
    background-color: #C28E90;
}

.navigation a:visited {
    background-color: #093955;
}

hr {
    margin: 15px 15px;
}

.content p {
    margin: 15px;
}

.note {
    padding: 15px;
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 10px;
}

.footer p {
    text-align: center;
    padding: 10px;
}

/* Mobile View */

@media only screen and (max-width: 1250px) {
    .container {
        width: 100%;
    }
    
    .navigation {
        grid-template-columns: auto;
    }

    .navigation a {
        padding: 10px;
        margin: 1px;
        width: 300px;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }
}

.accordion {
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

.panel {
    display: none;
    overflow: hidden;
}

.panel img {
    max-width: 100%;
    height: auto;
}

ul{
    margin-left: 50px;
}

ul li {
    padding: 5px;
}

ul li a {
    text-decoration: none;
}

ul li a:hover, ul li a:visited {
    color: black;
}